@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
* {
  --background: #282a36;
  --foreground: #f8f8f2;
  --background-muted: #44475a;
  --foreground-muted: #6272a4;
  --primary: #bd93f9;
  --accent: #ff79c6;
  --secondary: #50fa7b;
  --green: #50fa7b;
  --red: #ff5555;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
